body {
    background: url(../website/img/q.jpg )  no-repeat;
    background-position: center;
    background-size:cover;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000000;
    height: 100vh;
}

#app {

    display: flex;
    flex-direction: row;
    color: black;
    padding: 10ex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    width: 400px;
    background-color: rgba(250, 250, 250, 0.493);
    background-color: rgba(250, 250, 250, 0.493);
    border-top-right-radius:122px;
    border-top-left-radius: 122px;
    font-size: 16px;
    box-shadow: 2px 4px 5px black;
}
.holder , button{
    margin-top: 30px;
    margin-bottom: 10px;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif
}

.footer {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    color: black;
}

.fo {
    color: #000000;
    padding: 12px;
}

.entry {
    /* grid-area: entry; */
    display: block;
    background-color: rgba(250, 250, 250, 0.493);
    border-top-right-radius: 112px;
    border-top-left-radius: 112px;
    width: 300px;
    height: 190px;
    border: none;
    box-shadow: 2px 4px 5px black;
}

ul {
    list-style: none;
    text-align: center;
}
li{

 
    margin-top: 7px;
}

#dateTime {
    font-size: 16px;
    color: black;
}

#temp {
    font-size: 16px;
    color: black;
}

#person_res {
    font-size: 16px;
    color: black;
}

#city {
    font-size: 16px;
    color: black;
}

#country {
    font-size: 16px;
    color: black;
}

#weather {
    font-size: 16px;
    color: black;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    /* font-size: 27px;
  
    text-align: center; */
}

input {
    display: block;
    height: 90px;
    width: 300px;
    background-color: rgba(136, 124, 124, 0.103);
    border:1px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: black;
    font-size: 16px;
    text-align: center;
    
}

button {
    width: 250px;
    /* height: 60px; */
    /* margin: 40px; */
    /* background-color: rgba(196, 168, 168, 0.253); */
    /* border-radius: 22px; */
    /* border: 0px; */
    /* text-align: center; */
    /* font-size: 16px; */
    /* box-shadow: 2px 2px 5px #ebe84e62; */
    

    color: #fff;
    text-transform: uppercase;
    border-radius: 7px;
    /* width: 190%; */
    padding: 1.5rem 1rem 1rem 1rem;
    background-color: yellow;
    border: none;
    border-bottom: 5px solid #bbb930;
    font-size: 1.1rem;
    
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

textarea {
    height: 90px;
    width: 300px;
    background-color: rgba(136, 124, 124, 0.103);
    border:1px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    
   
  
    color: black;
    font-size: 16px;
  
    text-align: center;
}

h1,
p,
h5 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: black;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}